/* CSS Document */
div.pagination {
	padding: 3px;
	margin: 3px;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #D8D8D8;
	
	text-decoration: none; /* no underline */
	color: #AAAAAA;
}
div.pagination a:hover, div.pagination a:active {
	border: 1px solid #E7E7E8;

	color: #000;
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
		border: 1px solid #E7E7E8;
		
		font-weight: bold;
		background-color: #E7E7E8;
		color: #00000;
	}
	div.pagination span.disabled {
		padding: 2px 5px 2px 5px;
		margin: 2px;
		border: 1px solid #EEE;
	
		color: #AAAAAA;
	}


